

<section *ngIf="step1" class="w-75 mx-auto bg-main-light p-3 shadow rounded">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <label for="email">email</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
        <button class="btn-main mx-auto d-block mt-3">Forgot password</button>
    </form>
</section>


<section  *ngIf="step2" class="w-75 mx-auto bg-main-light p-3 shadow rounded">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()" >
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
        <button class="btn-main mx-auto d-block mt-3">Reset Code</button>
    </form>
</section>


<section  *ngIf="step3" class="w-75 mx-auto bg-main-light p-3 shadow rounded">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()" >
        <label for="newPassword">Reset Password</label>
        <input formControlName="newPassword"  type="text" class="form-control" id="newPassword">
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
        <button class="btn-main mx-auto d-block mt-3">Reset Password</button>
    </form>
</section>